/*-----------
    Fonts
-----------*/
@font-face
{
    font-family: 'PT Root UI';
    font-weight: normal;
    font-style: normal;

    font-display: swap;
    src: url('/fonts/PTRootUI-Regular.woff2') format('woff2'),
    url('/fonts/PTRootUI-Regular.woff') format('woff'),
    url('/fonts/PTRootUI-Regular.ttf') format('truetype');
}


@font-face
{
    font-family: 'PT Root UI';
    font-weight: 500;
    font-style: normal;

    font-display: swap;
    src: url('/fonts/PTRootUI-Medium.woff2') format('woff2'),
    url('/fonts/PTRootUI-Medium.woff') format('woff'),
    url('/fonts/PTRootUI-Medium.ttf') format('truetype');
}


@font-face
{
    font-family: 'PT Root UI';
    font-weight: 700;
    font-style: normal;

    font-display: swap;
    src: url('/fonts/PTRootUI-Bold.woff2') format('woff2'),
    url('/fonts/PTRootUI-Bold.woff') format('woff'),
    url('/fonts/PTRootUI-Bold.ttf') format('truetype');
}