/*------------------
    Action block
------------------*/
.action_block
{
    .data
    {
        position: relative;

        overflow: hidden;

        padding-block: var(--block_padding_l);
        padding-inline: var(--block_padding_xl);

        color: var(--light_color);
        border-radius: var(--border_radius);
        background: var(--primary_color);


        & > *
        {
            position: relative;

            z-index: 3;
        }
    }


    .block_head
    {
        width: 422px;
        max-width: 100%;
        margin-bottom: 0;


        .desc
        {
            color: currentColor;
        }
    }


    .btn
    {
        width: 297px;
        max-width: 100%;
        height: 49px;
        margin-top: var(--inner_gap);
        padding-inline: var(--inner_gap_xl);

        transition: background .2s linear;

        color: var(--dark_color);
        border-radius: var(--border_radius_xs);
        background: var(--light_color);


        &:hover
        {
            background: var(--light_color_soft);
        }
    }


    .image
    {
        position: absolute;
        right: 0;
        bottom: 0;

        display: flex;
        align-content: flex-end;
        align-items: flex-end;
        flex-wrap: wrap;
        justify-content: flex-end;

        width: 686px;
        max-width: 100%;
        height: 100%;

        z-index: 2;
        pointer-events: none;


        img
        {
            display: block;

            max-width: 100%;
            max-height: 100%;
        }
    }


    .bg
    {
        position: absolute;
        bottom: 0;
        left: 0;

        display: block;

        width: 1001px;
        max-width: 100%;
        height: 310px;
        max-height: 100%;

        z-index: 1;
        pointer-events: none;
    }
}



@media print,
(max-width: 1279px)
{
    .action_block
    {
        .data
        {
            padding-inline: var(--block_padding_l);
        }


        .block_head
        {
            width: 384px;
        }


        .btn
        {
            width: 240px;
            height: 48px;
            padding-inline: var(--inner_gap_l);
        }


        .image
        {
            right: calc(var(--inner_gap) * -1);

            width: 620px;
        }


        .bg
        {
            width: 900px;
            height: 278px;
        }
    }
}



@media print,
(max-width: 1023px)
{
    .action_block
    {
        .data
        {
            padding-inline: var(--inner_gap_l);
        }


        .block_head
        {
            width: 320px;
        }


        .btn
        {
            width: 220px;
        }


        .image
        {
            right: calc(var(--inner_gap_s) * -1);

            width: 440px;
        }


        .bg
        {
            width: 100%;
            height: auto;
        }
    }
}



@media (max-width: 767px)
{
    .action_block
    {
        .data
        {
            margin-inline: calc((var(--cont_padding) - 5px) * -1);
            padding-inline: calc(var(--cont_padding) - 5px);
        }


        .block_head
        {
            width: 100%;
        }


        .btn
        {
            width: 100%;
            margin-top: var(--inner_gap_xxxs);
        }


        .image
        {
            position: relative;
            top: 0;
            right: 0;

            width: 100%;
            height: 243px;
            margin-bottom: var(--block_padding_l);


            img
            {
                position: absolute;
                top: 0;
                right: 0;
                left: -10px;

                width: 380px;
                max-width: none;
                height: 440px;
                max-height: none;
                margin-inline: auto;
            }
        }


        .bg
        {
            top: 0;
            bottom: auto;

            width: 260%;
            max-width: none;
        }
    }
}
