/*--------------
    Articles
--------------*/
.articles
{
    .tabs
    {
        display: flex;
        align-content: stretch;
        align-items: stretch;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: var(--inner_gap_xxxs);

        margin-bottom: var(--block_head_offset_s);


        .btn
        {
            position: relative;

            display: block;

            height: 42px;
            padding-inline: var(--inner_gap_xl);

            transition: .2s linear;

            border: 1px solid transparent;
            border-radius: var(--border_radius_s);
            background: var(--bg_grey);


            &:hover
            {
                color: var(--primary_color);
                border-color: var(--primary_color);
            }


            &.active
            {
                color: var(--light_color);
                border-color: var(--primary_color);
                background: var(--gradient_primary);
            }
        }
    }


    .grid_row
    {
        --gap_x: var(--inner_gap_xl);
        --gap_y: var(--inner_gap_xl);
    }


    .item
    {
        display: flex;
        flex-direction: column;

        border-radius: var(--border_radius);
        background: var(--bg_grey);


        .image
        {
            display: block;

            text-decoration: none;

            color: currentColor;
        }


        .thumb
        {
            display: block;

            border-radius: var(--border_radius);
            background: var(--bg_grey);

            aspect-ratio: 1 / .6;
        }


        .info
        {
            display: flex;
            flex: 1 0 auto;
            flex-direction: column;
            gap: var(--inner_gap_xxxs);

            padding: var(--inner_gap_xl);
        }


        .category
        {
            position: relative;

            margin-bottom: var(--inner_gap_xxxs);
            padding-left: 18px;

            font-size: var(--font_size_s);


            &:before
            {
                position: absolute;
                top: .5lh;
                left: 0;

                display: block;

                width: 10px;

                content: '';
                transform: translateY(-50%);

                border-radius: 3px;

                aspect-ratio: 1 / 1;
            }


            &.purple:before
            {
                background: #acaafe;
            }

            &.red:before
            {
                background: #e99596;
            }

            &.green:before
            {
                background: #88d89d;
            }

            &.blue:before
            {
                background: #73cce5;
            }

            &.orange:before
            {
                background: #f6b68e;
            }

            &.pink:before
            {
                background: #d192e0;
            }
        }


        .name
        {
            width: 260px;
            max-width: 100%;

            font-size: var(--font_size_title_s);
            font-weight: 700;


            a
            {
                display: inline-block;

                vertical-align: top;
                text-decoration: none;

                color: currentColor;
            }
        }


        .desc
        {
            display: -webkit-box;
            overflow: hidden;
            -webkit-box-orient: vertical;

            margin-bottom: var(--inner_gap);

            text-overflow: ellipsis;

            -webkit-line-clamp: 2;
        }


        .bottom
        {
            display: flex;
            align-content: center;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-between;
        }


        .link
        {
            display: flex;
            align-content: center;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;

            width: fit-content;
            height: 42px;
            margin-top: auto;
            padding-inline: var(--inner_gap_xl);

            transition: .2s linear;
            text-align: center;
            text-decoration: none;

            color: var(--primary_color);
            border: 1px solid var(--primary_color);
            border-radius: var(--border_radius_s);


            &:hover
            {
                color: var(--light_color);
                background: var(--primary_color);
            }
        }


        .views
        {
            display: flex;
            align-content: center;
            align-items: center;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 5px;

            font-size: var(--font_size_s);

            color: var(--grey_color);


            .icon
            {
                display: block;

                width: 24px;

                aspect-ratio: 1 / 1;
            }
        }
    }
}
