/*------------
    Brands
------------*/
.brands
{
    .cont
    {
        display: flex;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
    }


    .block_head
    {
        width: 176px;
        max-width: 100%;
        margin-bottom: 0;


        .title
        {
            font-size: var(--font_size);

            text-align: center;
        }
    }


    .marquee
    {
        position: relative;

        overflow: hidden;

        width: max-content;
        width: calc(100% - 220px);


        &:before,
        &:after
        {
            position: absolute;
            top: 0;
            left: 0;

            display: block;

            width: 100px;
            height: 100%;

            content: '';
            z-index: 3;
            pointer-events: none;

            background: linear-gradient(to right, var(--bg), transparent);
        }


        &:after
        {
            right: 0;
            left: auto;

            transform: scale(-1 , 1);
        }
    }


    .logos
    {
        display: flex;
        gap: var(--block_padding);

        animation: marquee 16s linear infinite;
    }


    .logo
    {
        display: flex;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;

        height: 60px;


        img
        {
            display: block;

            max-height: 100%;
        }
    }
}



@keyframes marquee
{
    from
    {
        transform: translateX(0%);
    }
    to
    {
        transform: translateX(-50%);
    }
}



@media print,
(max-width: 1279px)
{
    .brands
    {
        .block_head
        {
            width: 180px;
        }


        .marquee
        {
            width: calc(100% - 180px - var(--block_padding_l));
        }


        .logos
        {
            gap: var(--block_padding_l);
        }
    }
}


@media (max-width: 767px)
{
    .brands
    {
        .block_head
        {
            width: 100%;
            margin-bottom: var(--block_head_offset_s);
        }


        .marquee
        {
            width: 100%;
        }


        .logos
        {
            animation: marquee 8s linear infinite;
        }


        .logo
        {
            height: 24px;
        }
    }
}
