/*---------------
    Case info
---------------*/
.case_info
{
    position: relative;

    padding-bottom: 90px;


    .cont
    {
        position: relative;

        display: flex;
        align-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: var(--inner_gap_xl);

        z-index: 3;
    }


    .image
    {
        display: block;

        width: 411px;
        max-width: 100%;

        border-radius: var(--border_radius_l);
        background: var(--bg_grey);

        aspect-ratio: 1 / .783;
    }


    .data
    {
        display: flex;
        align-self: center;
        flex-direction: column;
        justify-content: space-between;
        gap: var(--block_padding);

        width: calc(100% - 411px - var(--inner_gap_xl));
        min-height: 322px;


        .category
        {
            width: fit-content;
            padding-block: var(--inner_gap_xxxs);
            padding-inline: var(--inner_gap_s);

            font-size: var(--font_size_s);

            color: #5f73fe;
            border: 1px solid rgba(95, 115, 254, .3);
            border-radius: var(--border_radius_max);
            background: #eff1ff;
        }


        .title
        {
            font-size: var(--font_size_title_l);
            font-weight: 700;
            line-height: 105%;
        }


        .desc
        {
            width: 670px;
            max-width: 100%;

            font-size: var(--font_size_l);
            font-weight: 500;

            color: var(--grey_color);
        }
    }


    .bg
    {
        position: absolute;
        top: -204px;
        right: 50%;

        display: block;

        width: 1214px;
        height: 600px;
        margin-right: -720px;

        content: '';
        z-index: 1;
        pointer-events: none;


        img
        {
            display: block;

            width: 100%;
            height: 100%;
        }
    }
}



@media print,
(max-width: 1279px)
{
    .case_info
    {
        padding-bottom: var(--block_padding_l);


        .cont
        {
            gap: var(--inner_gap_l);
        }


        .image
        {
            width: 360px;
        }


        .data
        {
            gap: var(--inner_gap_l);

            width: calc(100% - 360px - var(--inner_gap_l));
            min-height: 282px;


            .title
            {
                font-size: var(--font_size_title);
            }


            .desc
            {
                width: 100%;

                font-size: var(--font_size);
            }
        }


        .bg
        {
            top: -160px;
        }
    }
}



@media print,
(max-width: 1023px)
{
    .case_info
    {
        .image
        {
            width: 100%;
        }


        .data
        {
            gap: var(--inner_gap);

            width: 100%;
            min-height: 0;
        }


        .bg
        {
            width: 1000px;
            height: 494px;
        }
    }
}



@media (max-width: 767px)
{
    .case_info
    {
        .cont
        {
            gap: var(--inner_gap_xs);

            padding-inline: 5px;
        }


        .image
        {
            height: 300px;
        }


        .data
        {
            padding-block: var(--block_padding_l);
            padding-inline: calc(var(--cont_padding) - 5px);

            border-radius: var(--border_radius_l);
            background: var(--bg_grey);
        }


        .desc
        {
            font-size: var(--font_size_s);
        }


        .bg
        {
            top: -120px;
            right: 0;

            width: 612px;
            height: 300px;
            margin-right: 0;
        }
    }
}
