/*-----------
    Cases
-----------*/
.cases
{
    .head
    {
        display: flex;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: var(--block_padding);

        margin-bottom: var(--block_head_offset_s);


        .block_head
        {
            margin: 0;
        }


        .categories
        {
            display: flex;
            align-content: stretch;
            align-items: stretch;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: var(--inner_gap_xxxs);


            .btn
            {
                position: relative;

                display: flex;
                align-content: center;
                align-items: center;
                flex-wrap: wrap;
                justify-content: center;

                height: 42px;
                padding-inline: var(--inner_gap_xl);

                transition: .2s linear;
                text-decoration: none;

                color: currentColor;
                border-radius: var(--border_radius_xs);
                background: var(--bg_grey);


                &:hover
                {
                    background: #efeff5;
                }


                &.active
                {
                    color: var(--light_color);
                    background: var(--gradient_primary);
                }
            }
        }
    }


    .grid_row
    {
        --gap_x: var(--block_padding_s);
        --gap_y: var(--block_padding_s);
    }


    .case
    {
        position: relative;

        display: flex;
        overflow: hidden;
        flex-direction: column;

        text-decoration: none;

        color: currentColor;
        border-radius: var(--border_radius);
        background: var(--bg_grey);


        .thumb
        {
            display: block;

            border-radius: var(--border_radius);
            background: var(--bg_grey);

            aspect-ratio: 1 / .595;
        }


        .info
        {
            display: flex;
            flex-direction: column;

            padding-block: var(--inner_gap) var(--block_padding_s);
            padding-inline: var(--block_padding_s);
        }


        .row
        {
            display: flex;
            align-content: center;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-between;

            margin-bottom: var(--inner_gap_xs);
        }


        .category
        {
            position: relative;

            padding-left: 18px;

            font-size: var(--font_size_s);


            &:before
            {
                position: absolute;
                top: .5lh;
                left: 0;

                display: block;

                width: 10px;

                content: '';
                transform: translateY(-50%);

                border-radius: 3px;

                aspect-ratio: 1 / 1;
            }


            &.purple:before
            {
                background: #acaafe;
            }

            &.red:before
            {
                background: #e99596;
            }

            &.green:before
            {
                background: #88d89d;
            }

            &.blue:before
            {
                background: #73cce5;
            }

            &.orange:before
            {
                background: #f6b68e;
            }

            &.pink:before
            {
                background: #d192e0;
            }
        }


        .result
        {
            display: flex;
            align-content: center;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            gap: 5px;

            height: 34px;
            margin-left: auto;
            padding-inline: var(--inner_gap_xxs);

            font-weight: 500;

            color: var(--light_color);
            border-radius: 10px;


            .icon
            {
                &,
                img
                {
                    display: block;

                    width: 24px;

                    aspect-ratio: 1 / 1;
                }
            }


            &.purple
            {
                background: #acaafe;
            }

            &.red
            {
                background: #e99596;
            }

            &.green
            {
                background: #88d89d;
            }

            &.blue
            {
                background: #73cce5;
            }

            &.orange
            {
                background: #f6b68e;
            }

            &.pink
            {
                background: #d192e0;
            }
        }


        .name
        {
            font-size: var(--font_size_title_s);
            font-weight: 700;
        }


        .desc
        {
            display: -webkit-box;
            overflow: hidden;
            -webkit-box-orient: vertical;

            margin-top: var(--inner_gap_xs);

            text-overflow: ellipsis;

            -webkit-line-clamp: 2;
        }


        .btn
        {
            display: flex;
            align-content: center;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;

            width: fit-content;
            min-width: 150px;
            height: 42px;
            margin-top: var(--inner_gap_xl);
            padding-inline: var(--inner_gap_xl);

            transition: color .2s linear;
            text-align: center;

            color: var(--primary_color);
            border: 1px solid var(--primary_color);
            border-radius: var(--border_radius_xs);
        }


        &:hover
        {
            .btn
            {
                color: var(--primary_color_h);
            }
        }
    }
}



@media print,
(max-width: 1279px)
{
    .cases
    {
        .head
        {
            .categories
            {
                .btn
                {
                    height: 40px;
                    padding-inline: var(--inner_gap);
                }
            }
        }


        .grid_row
        {
            --gap_x: var(--inner_gap_l);
            --gap_y: var(--inner_gap_l);
        }


        .case
        {
            .row
            {
                margin-bottom: var(--inner_gap_xxs);
            }


            .result
            {
                gap: 4px;

                height: 30px;
                padding-inline: var(--inner_gap_xxxs);
            }


            .btn
            {
                min-width: 128px;
                height: 40px;
                margin-top: var(--inner_gap_l);
                padding-inline: var(--inner_gap_l);
            }
        }
    }
}



@media print,
(max-width: 1023px)
{
    .cases
    {
        .head
        {
            gap: var(--inner_gap);


            .categories
            {
                display: grid;
                overflow: auto;

                width: calc(100% + var(--cont_padding_double));
                margin-block: 0;
                margin-inline: calc(var(--cont_padding) * -1);
                padding-inline: var(--cont_padding);

                grid-auto-flow: column;
                grid-auto-columns: max-content;
                scroll-padding: 0 var(--cont_padding);
                scroll-snap-type: x mandatory;
                scrollbar-color: transparent transparent;
                scrollbar-width: thin;


                &::-webkit-scrollbar
                {
                    display: none;

                    width: 0;
                    height: 0;

                    background-color: transparent;
                }


                &::-webkit-scrollbar-thumb
                {
                    background-color: transparent;
                }


                .btn
                {
                    scroll-snap-align: start;
                }
            }
        }


        .grid_row
        {
            --items_per_line: 2;
        }
    }
}



@media (max-width: 767px)
{
    .cases
    {
        .grid_row
        {
            --items_per_line: 1;
        }
    }
}
