/*---------
    FAQ
---------*/
.FAQ
{
    .cont
    {
        display: flex;
        align-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-between;
    }


    .info
    {
        width: 488px;
        max-width: 100%;


        .block_head
        {
            gap: var(--inner_gap_l);
        }


        .btns
        {
            display: flex;
            align-content: center;
            align-items: center;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: var(--inner_gap_xl);


            .btn
            {
                display: flex;
                align-content: center;
                align-items: center;
                flex-wrap: wrap;
                justify-content: center;
                gap: var(--inner_gap_xxs);

                height: 54px;
                padding-inline: var(--inner_gap_xl);

                transition: background .2s linear;

                color: var(--light_color);
                border-radius: var(--border_radius_xs);
                background: var(--primary_color);


                .icon
                {
                    display: block;

                    width: 24px;

                    aspect-ratio: 1 / 1;
                }


                &:hover
                {
                    background: var(--primary_color_h);
                }
            }
        }


        .socials
        {
            display: flex;
            align-content: center;
            align-items: center;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: var(--inner_gap_xxs);


            a
            {
                display: flex;
                align-content: center;
                align-items: center;
                flex-wrap: wrap;
                justify-content: center;

                width: 54px;

                transition: color .2s linear;
                text-decoration: none;

                color: var(--primary_color);
                border: 1px solid;
                border-radius: var(--border_radius_xxs);

                aspect-ratio: 1 / 1;


                .icon
                {
                    display: block;
                }


                &.tg_link
                {
                    .icon
                    {
                        width: 22px;
                        height: 18px;
                    }
                }


                &.vk_link
                {
                    .icon
                    {
                        width: 26px;
                        height: 14px;
                    }
                }


                &.max_link
                {
                    .icon
                    {
                        width: 24px;
                        height: 24px;
                    }
                }


                &:hover
                {
                    color: var(--primary_color_h);
                }
            }
        }
    }


    .accordion
    {
        display: flex;
        flex-direction: column;
        gap: var(--inner_gap_xs);

        width: 628px;
        max-width: 100%;
    }
}



@media print,
(max-width: 1279px)
{
    .FAQ
    {
        .info
        {
            width: 448px;


            .block_head
            {
                gap: var(--inner_gap);
            }


            .btns
            {
                gap: var(--inner_gap_l);


                .btn
                {
                    height: 48px;
                    padding-inline: var(--inner_gap_l);
                }
            }


            .socials
            {
                a
                {
                    width: 48px;


                    &.tg_link
                    {
                        .icon
                        {
                            width: 20px;
                            height: 16px;
                        }
                    }


                    &.vk_link
                    {
                        .icon
                        {
                            width: 24px;
                            height: 13px;
                        }
                    }


                    &.max_link
                    {
                        .icon
                        {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }
        }


        .accordion
        {
            width: calc(100% - 448px - var(--block_padding_l));
        }
    }
}



@media print,
(max-width: 1023px)
{
    .FAQ
    {
        .info
        {
            width: 100%;
        }


        .accordion
        {
            width: 100%;
            margin-top: var(--block_padding_l);
        }
    }
}



@media (max-width: 767px)
{
    .FAQ
    {
        .info
        {
            .btns
            {
                justify-content: space-between;
                gap: 0;


                .btn
                {
                    .icon
                    {
                        display: none;
                    }
                }
            }


            .socials
            {
                a
                {
                    &:nth-child(2n) ~ a
                    {
                        display: none;
                    }
                }
            }
        }


        .accordion
        {
            width: calc(100% + var(--cont_padding_double));
            max-width: none;
            margin-inline: calc(var(--cont_padding) * -1);
        }
    }
}
