/*--------------
    For whom
--------------*/
.for_whom
{
    .grid
    {
        display: flex;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
    }


    .data
    {
        position: relative;

        display: flex;
        overflow: hidden;
        align-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-between;

        width: calc(100% - 438px);
        min-height: 491px;
        padding-block: var(--block_padding);
        padding-inline: var(--block_padding_s);

        color: var(--light_color);
        border-radius: var(--border_radius);
        background: var(--primary_color);


        & > *
        {
            position: relative;

            z-index: 3;
        }


        .title
        {
            align-self: center;

            width: calc(100% - 283px);

            font-size: var(--font_size_title_s);
            font-weight: 700;
        }


        .btn
        {
            display: flex;
            align-content: center;
            align-items: center;
            align-self: center;
            flex-wrap: wrap;
            justify-content: center;
            gap: var(--inner_gap);

            height: 49px;
            padding-inline: var(--inner_gap_xl);

            transition: background .2s linear;

            color: var(--dark_color);
            border-radius: var(--border_radius_xs);
            background: var(--light_color);


            .icon
            {
                display: block;

                width: 24px;

                aspect-ratio: 1 / 1;
            }


            &:hover
            {
                background: var(--light_color_soft);
            }
        }


        .thumb
        {
            position: absolute;
            bottom: 0;
            left: 0;

            display: flex;
            align-content: flex-end;
            align-items: flex-end;
            flex-wrap: wrap;
            justify-content: center;

            width: 100%;
            padding-inline: var(--inner_gap_l);

            z-index: 2;
            pointer-events: none;


            img
            {
                display: block;

                max-width: 100%;
                max-height: 100%;
            }
        }


        .bg
        {
            position: absolute;
            inset: 0;

            display: block;

            z-index: 1;
            pointer-events: none;
        }
    }


    .items
    {
        display: flex;
        flex-direction: column;
        gap: 36px;

        width: 357px;
        max-width: 100%;


        .item
        {
            display: flex;
            flex-direction: column;
            gap: var(--inner_gap_xxs);


            .name
            {
                font-size: var(--font_size_title_s);
                font-weight: 700;
            }
        }
    }
}



@media print,
(max-width: 1279px)
{
    .for_whom
    {
        .data
        {
            width: calc(100% - 320px - var(--block_padding_l));
            min-height: 480px;
            padding-block: var(--inner_gap_l);
            padding-inline: var(--inner_gap_l);


            .title
            {
                width: calc(100% - 230px);
            }


            .btn
            {
                gap: var(--inner_gap_xxxs);

                height: 48px;
                padding-inline: var(--inner_gap_l);
            }
        }


        .items
        {
            gap: var(--inner_gap_xl);

            width: 320px;
        }
    }
}



@media print,
(max-width: 1023px)
{
    .for_whom
    {
        .data
        {
            gap: var(--inner_gap_l);

            width: calc(100% - 280px - var(--block_padding_l));


            .title
            {
                width: 100%;
            }
        }


        .items
        {
            gap: var(--inner_gap_l);

            width: 280px;
        }
    }
}



@media (max-width: 767px)
{
    .for_whom
    {
        .data
        {
            width: 100%;
            min-height: 0;
            padding-bottom: 224px;


            .thumb
            {
                padding-inline: 0;


                img
                {
                    width: calc(100% + 100px);
                    max-width: none;
                    margin-inline: -50px;
                }
            }
        }


        .items
        {
            width: 100%;
            margin-top: var(--block_padding_l);
        }
    }
}
