/*--------------
    Glossary
--------------*/
.glossary
{
    &.width50
    {
        width: calc(50% - var(--inner_gap_xl) / 2);
    }


    .head
    {
        display: flex;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: var(--block_padding);

        margin-bottom: var(--block_head_offset);


        .block_head
        {
            margin: 0;
        }
    }


    .search
    {
        position: relative;

        width: 626px;
        max-width: 100%;

        --form_border_color: var(--bg_grey);
        --form_border_color_focus: var(--bg_grey);
        --form_border_radius: var(--border_radius_xs);
        --form_bg_color: var(--bg_grey);
        --form_placeholder_color: var(--grey_color);
        --form_input_height: 49px;
        --form_input_padding_inline: 59px var(--inner_gap_s);


        ::-webkit-input-placeholder
        {
            color: var(--form_placeholder_color);
        }

        :-moz-placeholder
        {
            color: var(--form_placeholder_color);
        }

        ::-moz-placeholder
        {
            opacity: 1;
            color: var(--form_placeholder_color);
        }

        :-ms-input-placeholder
        {
            color: var(--form_placeholder_color);
        }


        .icon
        {
            position: absolute;
            top: 0;
            bottom: 0;
            left: var(--inner_gap_l);

            display: block;

            width: 24px;
            margin-block: auto;

            z-index: 3;
            pointer-events: none;

            color: var(--grey_color);

            aspect-ratio: 1 / 1;
        }


        .input
        {
            display: block;

            width: 100%;
            height: var(--form_input_height);
            padding-inline: var(--form_input_padding_inline);

            font-family: var(--font_family_primary);
            font-size: var(--font_size);

            transition: border-color .2s linear;

            color: var(--dark_color);
            border: 1px solid var(--form_border_color);
            border-radius: var(--form_border_radius);
            background: var(--form_bg_color);


            *:-webkit-autofill
            {
                -webkit-box-shadow: inset 0 0 0 calc(var(--form_input_height) / 2) var(--form_bg_color) !important;
            }


            &:focus
            {
                border-color: var(--form_border_color_focus);
            }


            &.error
            {
                border-color: var(--form_error_color);
            }
        }
    }


    .grid_row
    {
        --gap_x: var(--inner_gap_xl);
        --gap_y: var(--inner_gap_xl);


        &.small
        {
            --items_per_line: 2;
            --gap_x: var(--inner_gap_xl);
            --gap_y: var(--inner_gap_s);


            .width50 &
            {
                --items_per_line: 1;
            }
        }
    }


    .grid_row + .grid_row
    {
        margin-top: var(--inner_gap_xl);
    }


    .item
    {
        display: flex;
        flex-direction: column;

        border-radius: var(--border_radius);
        background: var(--bg_grey);


        .iamge
        {
            display: block;

            text-decoration: none;

            color: currentColor;
        }


        .thumb
        {
            display: block;

            border-radius: var(--border_radius);
            background: var(--bg_grey);

            aspect-ratio: 1 / .6;
        }


        .info
        {
            display: flex;
            flex: 1 0 auto;
            flex-direction: column;
            gap: var(--inner_gap_xs);

            padding: var(--inner_gap_xl);
        }


        .name
        {
            font-size: var(--font_size_title_s);
            font-weight: 700;


            a
            {
                display: inline-block;

                vertical-align: top;
                text-decoration: none;

                color: currentColor;
            }
        }


        .desc
        {
            margin-bottom: var(--inner_gap_xxs);
        }


        .btn
        {
            display: flex;
            align-content: center;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;

            width: fit-content;
            height: 42px;
            margin-top: auto;
            padding-inline: var(--inner_gap_xl);

            transition: background .2s linear;
            text-align: center;
            text-decoration: none;

            color: var(--primary_color);
            border: 1px solid var(--primary_color);
            border-radius: var(--border_radius_xs);


            &:hover
            {
                color: var(--primary_color_h);
            }
        }
    }


    .small_item
    {
        position: relative;

        display: flex;
        flex-direction: column;
        gap: var(--inner_gap_xs);

        padding: var(--block_padding_s);

        transition: background .2s linear;
        text-decoration: none;

        color: currentColor;
        border-radius: var(--border_radius);
        background: var(--bg_grey);


        .name
        {
            font-size: var(--font_size_title_s);
            font-weight: 700;
        }


        .desc
        {
            width: 466px;
            max-width: calc(100% - var(--block_padding_l));
        }


        .arr
        {
            position: absolute;
            top: 0;
            right: var(--inner_gap_xl);
            bottom: 0;

            display: block;

            width: 24px;
            margin-block: auto;

            pointer-events: none;

            aspect-ratio: 1 / 1;
        }


        &:hover
        {
            background: #efeff5;
        }
    }
}



@media print,
(max-width: 1279px)
{
    .glossary
    {
        &.width50
        {
            width: calc(50% - var(--inner_gap_l) / 2);
        }


        .search
        {
            width: 500px;

            --form_input_height: 48px;
            --form_input_padding_inline: 51px var(--inner_gap_s);


            .icon
            {
                left: var(--inner_gap);
            }
        }


        .grid_row
        {
            --gap_x: var(--inner_gap_l);
            --gap_y: var(--inner_gap_l);


            &.small
            {
                --gap_x: var(--inner_gap_l);
            }
        }


        .grid_row + .grid_row
        {
            margin-top: var(--inner_gap_l);
        }


        .item
        {
            .info
            {
                padding: var(--inner_gap_l);
            }


            .btn
            {
                height: 40px;
                padding-inline: var(--inner_gap_l);
            }
        }


        .small_item
        {
            padding: var(--inner_gap_l);


            .arr
            {
                right: var(--inner_gap_l);
            }
        }
    }
}



@media print,
(max-width: 1023px)
{
    .glossary
    {
        &.width50
        {
            width: 100%;
        }


        .head
        {
            gap: var(--inner_gap);
        }


        .search
        {
            width: 100%;
        }


        .grid_row
        {
            --items_per_line: 2;


            &.small
            {
                --items_per_line: 1;
                --gap_y: var(--inner_gap_xs);
            }
        }
    }
}



@media (max-width: 767px)
{
    .glossary
    {
        .grid_row
        {
            --items_per_line: 1;
        }


        .small_item
        {
            padding: var(--inner_gap);


            .arr
            {
                right: var(--inner_gap);
            }


            .name
            {
                font-size: var(--font_size_l);
                font-weight: 500;
            }


            .desc
            {
                font-size: var(--font_size_s);
            }
        }
    }
}
