/*----------------
    Industries
----------------*/
.industries
{
    .block_head
    {
        .desc
        {
            display: flex;
            flex-direction: column;
            gap: var(--inner_gap);

            width: 552px;


            img
            {
                display: block;

                height: 40px;
            }
        }
    }


    .grid_row
    {
        --gap_x: var(--block_padding_s);
        --gap_y: var(--block_padding_s);
    }


    .item
    {
        position: relative;

        display: flex;
        overflow: hidden;
        flex-direction: column;
        gap: var(--inner_gap);

        min-height: 250px;
        padding-block: var(--block_padding) var(--block_padding_s);
        padding-inline: var(--block_padding_s);

        transition: .2s linear;
        text-decoration: none;

        color: currentColor;
        border-radius: var(--border_radius);
        background: var(--bg_grey);


        & > &
        {
            position: relative;

            z-index: 3;
        }


        .name
        {
            font-size: var(--font_size_title_s);
            font-weight: 700;
        }


        .desc
        {
            position: relative;

            padding-left: var(--inner_gap_s);


            &:before
            {
                position: absolute;
                top: .5lh;
                left: 0;

                display: block;

                width: 7px;
                height: 9px;

                content: '';
                transform: translateY(-50%);

                background: url('../../../images/ic_list_marker.svg') 0 0/100% 100% no-repeat;
            }
        }


        .btn
        {
            display: flex;
            align-content: center;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;

            width: fit-content;
            height: 42px;
            margin-top: auto;
            padding-inline: var(--inner_gap_xl);

            transition: .2s linear;
            text-align: center;

            color: var(--primary_color);
            border: 1px solid var(--primary_color);
            border-radius: var(--border_radius_s);
        }


        &:hover
        {
            .btn
            {
                color: var(--light_color);
                background: var(--primary_color);
            }
        }
    }
}
