/*------------------
    Main article
------------------*/
.main_article
{
    position: relative;


    .cont
    {
        position: relative;

        display: flex;
        align-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 80px;

        z-index: 3;
    }


    .image
    {
        display: block;

        width: 551px;
        max-width: 100%;

        text-decoration: none;

        color: currentColor;
    }


    .thumb
    {
        display: block;

        width: 100%;
        height: 470px;

        border-radius: var(--border_radius_l);
        background: var(--bg_grey);
    }


    .data
    {
        display: flex;
        flex-direction: column;
        gap: var(--block_padding_s);

        width: calc(100% - 551px - 80px);
        min-height: 470px;


        .category
        {
            width: fit-content;
            padding-block: var(--inner_gap_xxxs);
            padding-inline: var(--inner_gap_s);

            font-size: var(--font_size_s);

            color: #5f73fe;
            border: 1px solid rgba(95, 115, 254, .3);
            border-radius: var(--border_radius_max);
            background: #eff1ff;
        }


        .name
        {
            font-size: var(--font_size_title_l);
            font-weight: 700;
            line-height: 105%;


            a
            {
                display: inline-block;

                vertical-align: top;
                text-decoration: none;

                color: currentColor;
            }
        }


        .desc
        {
            width: 468px;
            max-width: 100%;
        }


        .link
        {
            display: flex;
            align-content: center;
            align-items: center;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: var(--inner_gap_xxxs);

            width: fit-content;
            height: 49px;
            margin-top: auto;
            padding-inline: var(--inner_gap_xl);

            transition: background .2s linear;
            text-decoration: none;

            color: var(--light_color);
            border-radius: var(--border_radius_xs);
            background: var(--primary_color);


            .icon
            {
                display: block;
                align-self: 1 / 1;

                width: 24px;
            }


            &:hover
            {
                background: var(--primary_color_h);
            }
        }
    }


    .bg
    {
        position: absolute;
        top: -204px;
        right: 50%;

        display: block;

        width: 1214px;
        height: 600px;
        margin-right: -720px;

        content: '';
        z-index: 1;
        pointer-events: none;


        img
        {
            display: block;

            width: 100%;
            height: 100%;
        }
    }
}



@media print,
(max-width: 1279px)
{
    .main_article
    {
        .cont
        {
            gap: var(--block_padding_l);
        }


        .image
        {
            width: 480px;
        }


        .thumb
        {
            height: 400px;
        }


        .data
        {
            gap: var(--inner_gap);

            width: calc(100% - 480px - var(--block_padding_l));
            min-height: 400px;


            .name
            {
                font-size: var(--font_size_title);
            }


            .desc
            {
                width: 400px;
            }


            .link
            {
                height: 48px;
                padding-inline: var(--inner_gap_l);
            }
        }


        .bg
        {
            top: -160px;
        }
    }
}



@media print,
(max-width: 1023px)
{
    .main_article
    {
        .cont
        {
            gap: var(--inner_gap_l);
        }


        .image
        {
            width: 100%;
        }


        .data
        {
            width: 100%;
            min-height: 0;


            .desc
            {
                width: 100%;
            }
        }


        .bg
        {
            width: 1000px;
            height: 494px;
        }
    }
}



@media (max-width: 767px)
{
    .main_article
    {
        .thumb
        {
            height: 300px;
        }


        .desc
        {
            font-size: var(--font_size_s);
        }


        .link
        {
            height: 44px;
            padding-inline: var(--inner_gap);
        }


        .bg
        {
            top: -120px;
            right: 0;

            width: 612px;
            height: 300px;
            margin-right: 0;
        }
    }
}
