/*--------------
    Services
--------------*/
.services
{
    .block_head
    {
        align-content: center;
        align-items: center;


        .title
        {
            width: 640px;
        }


        .desc
        {
            display: flex;
            flex-direction: column;
            gap: var(--inner_gap);

            width: 532px;


            img
            {
                display: block;

                height: 40px;
            }
        }
    }


    .grid_row
    {
        --gap_x: var(--block_padding_s);
        --gap_y: var(--block_padding_s);
    }


    .service
    {
        position: relative;

        display: flex;
        overflow: hidden;
        flex-direction: column;
        gap: var(--inner_gap);

        min-height: 318px;
        padding-block: var(--block_padding) var(--block_padding_s);
        padding-inline: var(--block_padding_s);

        transition: background .2s linear;
        text-decoration: none;

        color: currentColor;
        border-radius: var(--border_radius);
        background: var(--bg_grey);


        &.l_w
        {
            --width_multiplier: 2;
        }


        &.primary
        {
            color: var(--light_color);
            background: var(--gradient_primary);


            .desc
            {
                &:before
                {
                    background-image: url('../../../images/ic_list_marker_white.svg');
                }
            }


            .btn
            {
                color: var(--light_color);
                border-color: var(--light_color);
            }
        }


        & > &
        {
            position: relative;

            z-index: 3;
        }


        .name
        {
            font-size: var(--font_size_title_s);
            font-weight: 700;
        }


        .desc
        {
            position: relative;

            padding-left: var(--inner_gap_s);


            &:before
            {
                position: absolute;
                top: .5lh;
                left: 0;

                display: block;

                width: 7px;
                height: 9px;

                content: '';
                transform: translateY(-50%);

                background: url('../../../images/ic_list_marker.svg') 0 0/100% 100% no-repeat;
            }
        }


        .btn
        {
            display: flex;
            align-content: center;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;

            width: fit-content;
            height: 42px;
            margin-top: auto;
            padding-inline: var(--inner_gap_xl);

            transition: color .2s linear;
            text-align: center;

            color: var(--primary_color);
            border: 1px solid var(--primary_color);
            border-radius: var(--border_radius_xs);
        }


        .thumb
        {
            position: absolute;
            right: 0;
            bottom: 0;

            display: flex;
            align-content: flex-end;
            align-items: flex-end;
            flex-wrap: wrap;
            justify-content: flex-end;

            max-width: 100%;
            max-height: 100%;

            z-index: 1;
            pointer-events: none;


            img
            {
                display: block;

                max-width: 100%;
                max-height: 100%;
            }
        }


        &:hover
        {
            background: #efeff5;


            .btn
            {
                color: var(--primary_color_h);
            }


            &.primary
            {
                background: var(--gradient_primary);


                .btn
                {
                    color: var(--light_color_soft);
                }
            }
        }
    }
}



@media print,
(max-width: 1279px)
{
    .services
    {
        .block_head
        {
            .title
            {
                width: 500px;
            }


            .desc
            {
                gap: var(--inner_gap_s);

                width: 400px;
            }
        }


        .grid_row
        {
            --gap_x: var(--inner_gap_l);
            --gap_y: var(--inner_gap_l);
        }


        .service
        {
            min-height: 268px;
            padding-block: var(--inner_gap_l);
            padding-inline: var(--inner_gap_l);


            .thumb
            {
                width: 140px;


                .l_w &
                {
                    width: 372px;
                }
            }


            .desc
            {
                br
                {
                    display: none;
                }
            }


            .btn
            {
                height: 40px;
                padding-inline: var(--inner_gap_l);
            }
        }
    }
}



@media print,
(max-width: 1023px)
{
    .services
    {
        .block_head
        {
            .title,
            .desc
            {
                width: 100%;
            }
        }


        .grid_row
        {
            --items_per_line: 2;
        }


        .service
        {
            min-height: 280px;


            &.l_w
            {
                --width_multiplier: 1;
            }


            .thumb
            {
                &
                {
                    width: 160px;
                    height: 152px;
                }


                .l_w &
                {
                    width: 180px;
                    height: 152px;
                }
            }


            .desc
            {
                br
                {
                    display: none;
                }
            }


            .btn
            {
                height: 40px;
                padding-inline: var(--inner_gap_l);
            }
        }
    }
}



@media (max-width: 767px)
{
    .services
    {
        .grid_row
        {
            --items_per_line: 1;
        }


        .service
        {
            &.primary
            {
                min-height: 400px;


                .btn
                {
                    margin-top: 0;
                }


                .thumb
                {
                    .l_w &
                    {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
}
