/*------------
    Stages
------------*/
.stages
{
    .block_head
    {
        .desc
        {
            width: 449px;


            &.l_w
            {
                width: 540px;
            }


            &.xl_w
            {
                width: 680px;
            }
        }
    }


    .grid
    {
        display: flex;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
    }


    .items
    {
        display: flex;
        flex-direction: column;
        gap: 120px;

        width: 295px;
        max-width: 100%;
    }


    .item
    {
        display: flex;
        flex-direction: column;
        gap: var(--inner_gap_xxs);


        .icon
        {
            display: flex;
            align-content: center;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;

            width: 40px;
            margin-bottom: var(--inner_gap_xxs);

            border-radius: var(--border_radius_xxs);
            background: var(--gradient_primary);

            aspect-ratio: 1 / 1;


            img
            {
                display: block;

                max-width: 100%;
                max-height: 100%;
            }
        }


        .name
        {
            font-size: var(--font_size_title_s);
            font-weight: 700;
        }
    }


    .image
    {
        display: block;


        img
        {
            display: block;

            height: 872px;
        }
    }
}



@media print,
(max-width: 1279px)
{
    .stages
    {
        .image
        {
            img,
            svg
            {
                width: auto;
                height: 700px;
            }
        }


        .items
        {
            gap: 68px;

            width: 240px;
        }


        .item
        {
            .icon
            {
                margin-bottom: var(--inner_gap_xxxs);
            }
        }
    }
}



@media print,
(max-width: 1023px)
{
    .stages
    {
        .image
        {
            display: none;
        }


        .items
        {
            gap: var(--block_padding_l);

            width: calc(50% - var(--block_padding_l));
        }
    }
}



@media (max-width: 767px)
{
    .stages
    {
        .grid
        {
            gap: var(--block_padding_l);
        }


        .items
        {
            width: 100%;
        }


        .item
        {
            .icon
            {
                margin-bottom: 4px;
            }
        }
    }
}
