/*-----------
    Steps
-----------*/
.steps
{
    .grid_row
    {
        --gap_x: var(--block_padding_s);
        --gap_y: var(--block_padding_s);
    }


    .item
    {
        position: relative;

        display: flex;
        overflow: hidden;
        flex-direction: column;
        gap: var(--inner_gap);

        padding-block: var(--block_padding);
        padding-inline: var(--block_padding_s);

        border-radius: var(--border_radius);
        background: var(--bg_grey);

        aspect-ratio: 1 / 1;


        & > &
        {
            position: relative;

            z-index: 3;
        }


        &.primary
        {
            color: var(--light_color);
            background: var(--gradient_primary);


            .desc
            {
                &:before
                {
                    background-image: url('/images/ic_list_marker_white.svg');
                }
            }
        }


        .name
        {
            font-size: var(--font_size_title_s);
            font-weight: 700;
        }


        .desc
        {
            position: relative;

            padding-left: var(--inner_gap_s);


            &:before
            {
                position: absolute;
                top: .5lh;
                left: 0;

                display: block;

                width: 7px;
                height: 9px;

                content: '';
                transform: translateY(-50%);

                background: url('/images/ic_list_marker.svg') 0 0/100% 100% no-repeat;
            }
        }


        .thumb
        {
            position: absolute;
            bottom: 0;
            left: 0;

            display: flex;
            align-content: flex-end;
            align-items: flex-end;
            flex-wrap: wrap;
            justify-content: center;

            width: 100%;

            z-index: 1;
            pointer-events: none;


            &.bottom_pad
            {
                padding-bottom: var(--block_padding_s);
            }


            &.alignend
            {
                justify-content: flex-end;
            }


            img
            {
                display: block;

                max-width: 100%;
                max-height: 100%;
            }
        }
    }
}