/*------------------
    Subscription
------------------*/
.subscription
{
    .block_head
    {
        .desc
        {
            display: flex;
            flex-direction: column;
            gap: var(--inner_gap);

            width: 532px;


            img
            {
                display: block;

                height: 40px;
            }
        }
    }


    .grid
    {
        display: flex;
        align-content: stretch;
        align-items: stretch;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: var(--block_padding_s);
    }


    .info
    {
        position: relative;

        display: flex;
        overflow: hidden;
        flex-direction: column;
        gap: var(--inner_gap);

        width: 440px;
        max-width: 100%;
        min-height: 580px;
        padding-block: var(--block_padding);
        padding-inline: var(--block_padding_s);

        border-radius: var(--border_radius);
        background: var(--bg_grey);

        aspect-ratio: 1 / 1;


        & > &
        {
            position: relative;

            z-index: 3;
        }


        .name
        {
            font-size: var(--font_size_title_s);
            font-weight: 700;
        }


        .desc
        {
            position: relative;

            padding-left: var(--inner_gap_s);


            &:before
            {
                position: absolute;
                top: .5lh;
                left: 0;

                display: block;

                width: 7px;
                height: 9px;

                content: '';
                transform: translateY(-50%);

                background: url('../../../images/ic_list_marker.svg') 0 0/100% 100% no-repeat;
            }
        }


        .thumb
        {
            position: absolute;
            bottom: 0;
            left: 0;

            display: flex;
            align-content: flex-end;
            align-items: flex-end;
            flex-wrap: wrap;
            justify-content: center;

            width: 100%;
            padding-bottom: var(--block_padding_l);

            z-index: 1;
            pointer-events: none;



            img
            {
                display: block;

                max-width: 100%;
                max-height: 100%;
            }
        }
    }


    .data
    {
        width: calc(100% - 440px - var(--block_padding_s));
        padding-block: var(--block_padding);
        padding-inline: var(--block_padding_s);

        border-radius: var(--border_radius);
        background: var(--bg_grey);


        .grid_row
        {
            --gap_x: var(--inner_gap_xxs);
            --gap_y: var(--inner_gap_xxs);
        }


        .titles
        {
            padding-bottom: var(--block_padding_s);

            font-size: var(--font_size_title_s);
            font-weight: 700;

            text-align: center;
        }


        .items
        {
            display: flex;
            flex-direction: column;
            gap: var(--inner_gap_xxs);
        }


        .item
        {
            .col
            {
                position: relative;

                display: flex;
                align-content: center;
                align-items: center;
                flex-wrap: wrap;
                justify-content: center;
                gap: var(--inner_gap_xxs);

                min-height: 79px;
                padding: var(--inner_gap);

                border-radius: var(--border_radius_xxs);
                background: var(--light_color);
            }


            .icon
            {
                display: block;

                width: 10px;

                color: var(--grey_color);

                aspect-ratio: 1 / 1;


                & + span
                {
                    width: calc(100% - 10px - var(--inner_gap_xxs));
                }
            }


            .checkbox
            {
                position: absolute;
                top: 0;
                bottom: 0;
                left: var(--inner_gap);

                display: block;

                width: 16px;
                margin-block: auto;

                pointer-events: none;

                color: var(--green_color);

                aspect-ratio: 1 / 1;
            }
        }
    }
}



@media print,
(max-width: 1279px)
{
    .subscription
    {
        .block_head
        {
            .desc
            {
                gap: var(--inner_gap_s);

                width: 504px;
            }
        }


        .grid
        {
            gap: var(--inner_gap_l);
        }


        .info
        {
            width: 360px;
            min-height: 480px;
            padding-block: var(--inner_gap_l);
            padding-inline: var(--inner_gap_l);


            .thumb
            {
                padding-inline: var(--inner_gap_l);
                padding-bottom: var(--inner_gap_l);
            }
        }


        .data
        {
            width: calc(100% - 360px - var(--inner_gap_l));
            padding-block: var(--inner_gap_l);
            padding-inline: var(--inner_gap_l);


            .grid_row
            {
                --gap_x: var(--inner_gap_xxxs);
                --gap_y: var(--inner_gap_xxxs);
            }


            .titles
            {
                padding-bottom: var(--inner_gap_s);
            }


            .item
            {
                .col
                {
                    gap: var(--inner_gap_xxxs);

                    min-height: 68px;
                    padding: var(--inner_gap_s);
                }


                .checkbox
                {
                    left: var(--inner_gap_s);
                }
            }
        }
    }
}



@media print,
(max-width: 1023px)
{
    .subscription
    {
        .block_head
        {
            .title,
            .desc
            {
                width: 100%;
            }
        }


        .info
        {
            justify-content: center;

            width: 100%;
            min-height: 280px;

            aspect-ratio: auto;


            .desc
            {
                width: 272px;
                max-width: 100%;
            }


            .thumb
            {
                right: 0;
                left: auto;

                width: 335px;
                padding: var(--inner_gap_l);
            }
        }


        .data
        {
            width: 100%;
        }
    }
}



@media (max-width: 767px)
{
    .subscription
    {
        .grid
        {
            gap: var(--inner_gap_xs);
        }


        .info
        {
            justify-content: flex-start;

            width: calc(100% + (var(--cont_padding) - 5px) * 2);
            max-width: none;
            min-height: 0;
            margin-inline: calc((var(--cont_padding) - 5px) * -1);
            padding-inline: calc(var(--cont_padding) - 5px);
            padding-bottom: 300px;


            .desc
            {
                width: 100%;
            }


            .thumb
            {
                right: 0;
                left: 0;

                margin-inline: auto;
            }
        }


        .data
        {
            width: calc(100% + (var(--cont_padding) - 5px) * 2);
            max-width: none;
            margin-inline: calc((var(--cont_padding) - 5px) * -1);
            padding-inline: 5px;


            .titles
            {
                font-size: var(--font_size);


                .title
                {
                    padding-inline: var(--inner_gap_xxxs);
                }
            }


            .item
            {
                font-size: var(--font_size_s);


                .col
                {
                    min-height: 44px;
                    padding-block: var(--inner_gap_xxxs);
                    padding-inline: var(--inner_gap_xxxs);
                }


                .icon
                {
                    display: none;


                    & + span
                    {
                        width: 100%;
                    }
                }


                .checkbox
                {
                    left: var(--inner_gap_xxxs);

                    width: 12px;


                    & + span
                    {
                        width: 100%;
                        padding-left: var(--inner_gap_s);
                    }
                }
            }
        }
    }
}
