/*-------------------
    Unit receives
-------------------*/
.unit_receives
{
    .block_head
    {
        .desc
        {
            margin-bottom: var(--inner_gap);
        }
    }


    .grid_row
    {
        --items_per_line: 4;
        --gap_x: var(--inner_gap_xl);
        --gap_y: var(--inner_gap_xl);
    }


    .item
    {
        display: flex;
        flex-direction: column;
        gap: var(--inner_gap);

        min-height: 306px;
        padding: var(--block_padding_s);

        border-radius: var(--border_radius);
        background: var(--bg_grey);


        .icon
        {
            display: flex;
            align-content: center;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;

            width: 40px;

            aspect-ratio: 1 / 1;


            img
            {
                display: block;

                max-width: 100%;
                max-height: 100%;
            }
        }


        .name
        {
            font-size: var(--font_size_title_s);
            font-weight: 700;
        }


        .desc
        {
            margin-top: auto;
            padding-top: var(--inner_gap);
        }
    }


    .bottom
    {
        display: flex;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;

        margin-top: var(--inner_gap_xl);
        padding: var(--block_padding_s);

        border-radius: var(--border_radius);
        background: var(--bg_grey);


        .managers
        {
            display: flex;
            align-content: center;
            align-items: center;
            flex-wrap: wrap;
            justify-content: flex-start;


            .photo
            {
                display: block;

                width: 54px;

                border: 2px solid var(--light_color);
                border-radius: 50%;
                background: var(--light_color);

                aspect-ratio: 1 / 1;
            }


            .photo + .photo
            {
                margin-left: calc(var(--inner_gap_xs) * -1);
            }


            span
            {
                display: block;

                width: 300px;
                max-width: 100%;
                margin-left: var(--inner_gap);
            }
        }


        .btn
        {
            height: 54px;
            padding-inline: var(--inner_gap_xl);

            transition: background .2s linear;

            color: var(--light_color);
            border-radius: var(--border_radius_xs);
            background: var(--primary_color);


            &:hover
            {
                background: var(--primary_color_h);
            }
        }
    }
}



@media print,
(max-width: 1279px)
{
    .unit_receives
    {
        .grid_row
        {
            --gap_x: var(--inner_gap_l);
            --gap_y: var(--inner_gap_l);
        }


        .item
        {
            min-height: 0;
            padding: var(--inner_gap_l);


            .desc
            {
                padding-top: 0;
            }
        }


        .bottom
        {
            margin-top: var(--inner_gap_l);
            padding: var(--inner_gap_l);


            .managers
            {
                .photo
                {
                    width: 48px;
                }


                .photo + .photo
                {
                    margin-left: calc(var(--inner_gap_xxs) * -1);
                }
            }


            .btn
            {
                height: 48px;
                padding-inline: var(--inner_gap_l);
            }
        }
    }
}



@media print,
(max-width: 1023px)
{
    .unit_receives
    {
        .grid_row
        {
            --items_per_line: 2;
        }


        .bottom
        {
            margin-top: var(--inner_gap_l);
            padding: var(--inner_gap_l);


            .managers
            {
                span
                {
                    width: 192px;
                    margin-left: var(--inner_gap_xs);

                    font-size: var(--font_size_s);
                }


                .photo + .photo
                {
                    margin-left: calc(var(--inner_gap_xs) * -1);
                }
            }
        }
    }
}



@media (max-width: 767px)
{
    .unit_receives
    {
        .grid_row
        {
            --items_per_line: 1;
            --gap_y: var(--inner_gap_xs);
        }


        .bottom
        {
            margin-top: var(--inner_gap_xs);


            .managers
            {
                span
                {
                    width: 100%;
                    margin-top: var(--inner_gap_xxs);
                    margin-left: 0;
                }
            }


            .btn
            {
                width: 100%;
                margin-top: var(--inner_gap);
            }
        }
    }
}
