/*------------------
    Useful links
------------------*/
.useful_links
{
    &.border
    {
        padding-top: var(--block_padding);

        border-top: 1px solid #e1e3ea;
    }


    .block_head
    {
        margin-bottom: var(--block_padding_s);
    }


    .items
    {
        display: flex;
        align-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: var(--inner_gap_xxs);


        a
        {
            display: block;

            padding-block: var(--inner_gap_xxs);
            padding-inline: var(--inner_gap_xl);

            text-decoration: none;

            color: currentColor;
            border-radius: var(--border_radius_xs);
            background: var(--bg_grey);
        }
    }
}
