/*--------------
    Webinars
--------------*/
.webinars
{
    &.width50
    {
        width: calc(50% - var(--inner_gap_xl) / 2);
    }


    .grid_row
    {
        --gap_x: var(--inner_gap_xl);
        --gap_y: var(--inner_gap_xl);


        &.small
        {
            --items_per_line: 2;
            --gap_x: var(--inner_gap_xl);
            --gap_y: var(--inner_gap_s);


            .width50 &
            {
                --items_per_line: 1;
            }
        }
    }


    .item
    {
        display: flex;
        flex-direction: column;

        border-radius: var(--border_radius);
        background: var(--bg_grey);


        .image
        {
            position: relative;

            display: block;

            text-decoration: none;

            color: currentColor;


            .icon
            {
                position: absolute;
                inset: 0;

                display: block;

                width: 35px;
                height: 43px;
                margin: auto;

                z-index: 3;

                color: var(--light_color);
            }
        }


        .thumb
        {
            display: block;

            border-radius: var(--border_radius);
            background: var(--bg_grey);

            aspect-ratio: 1 / .6;
        }


        .info
        {
            display: flex;
            flex: 1 0 auto;
            flex-direction: column;
            gap: var(--inner_gap_xxxs);

            padding: var(--inner_gap_xl);
        }


        .date
        {
            display: flex;
            align-content: center;
            align-items: center;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 5px;

            font-size: var(--font_size_s);


            .icon
            {
                display: block;

                width: 16px;

                aspect-ratio: 1 / 1;
            }


            span
            {
                max-width: calc(100% - 16px - 5px);
            }
        }


        .name
        {
            width: 280px;
            max-width: 100%;

            font-size: var(--font_size_title_s);
            font-weight: 700;


            a
            {
                display: inline-block;

                transition: color .2s linear;
                vertical-align: top;
                text-decoration: none;

                color: currentColor;


                &:hover
                {
                    color: var(--dark_color_soft);
                }
            }
        }


        .desc
        {
            margin-bottom: var(--inner_gap);
        }


        .btn
        {
            display: flex;
            align-content: center;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;

            width: fit-content;
            height: 42px;
            margin-top: auto;
            padding-inline: var(--inner_gap_xl);

            transition: color .2s linear;

            color: var(--primary_color);
            border: 1px solid var(--primary_color);
            border-radius: var(--border_radius_xs);


            &:hover
            {
                color: var(--primary_color_h);
            }
        }


        .small &
        {
            display: flex;
            align-content: stretch;
            align-items: stretch;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;


            .image
            {
                width: 190px;
                max-width: 100%;


                .thumb
                {
                    width: 100%;
                    height: 100%;

                    aspect-ratio: auto;
                }
            }


            .info
            {
                width: calc(100% - 190px);
                padding: var(--inner_gap_xl);


                .name
                {
                    width: 100%;
                }


                .desc
                {
                    margin-top: var(--inner_gap_xxxs);
                    margin-bottom: 0;
                }
            }
        }
    }


    .small_item
    {
        position: relative;

        display: flex;
        flex-direction: column;
        gap: var(--inner_gap_xs);

        padding: var(--block_padding_s);

        text-decoration: none;

        color: currentColor;
        border-radius: var(--border_radius);
        background: var(--bg_grey);


        .name
        {
            font-size: var(--font_size_title_s);
            font-weight: 700;
        }


        .desc
        {
            display: -webkit-box;
            overflow: hidden;
            -webkit-box-orient: vertical;

            width: 466px;
            max-width: 100%;
            margin-bottom: 0;

            text-overflow: ellipsis;

            -webkit-line-clamp: 2;
        }


        .arr
        {
            position: absolute;
            top: 0;
            right: var(--inner_gap_xl);
            bottom: 0;

            display: block;

            width: 24px;
            margin-block: auto;

            pointer-events: none;

            aspect-ratio: 1 / 1;
        }
    }


    .subscribe
    {
        position: relative;

        display: flex;
        overflow: hidden;
        flex-direction: column;
        justify-content: flex-end;
        gap: var(--inner_gap_xs);

        padding-block: 282px var(--inner_gap_xl);
        padding-inline: var(--inner_gap_xl);

        color: var(--light_color);
        border-radius: var(--border_radius);
        background: var(--gradient_primary);


        & > *
        {
            position: relative;

            z-index: 3;
        }


        .thumb
        {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            padding-block: var(--inner_gap_xl);
            padding-left: var(--inner_gap_xxs);

            z-index: 2;


            img
            {
                display: block;

                max-width: 100%;
                margin-inline: auto;
            }
        }


        .name
        {
            font-size: var(--font_size_title_s);
            font-weight: 700;
        }


        .desc
        {
            position: relative;

            margin-bottom: var(--inner_gap_s);
            padding-left: 16px;


            &:before
            {
                position: absolute;
                top: .5lh;
                left: 0;

                display: block;

                width: 7px;
                height: 9px;

                content: '';
                transform: translateY(-50%);

                background: url('../../../images/ic_list_marker_white.svg') 0 0/100% 100% no-repeat;
            }
        }


        .btn
        {
            display: flex;
            align-content: center;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;

            width: fit-content;
            height: 42px;
            padding-inline: var(--inner_gap_xl);

            transition: color .2s linear;
            text-align: center;
            text-decoration: none;

            color: var(--light_color);
            border: 1px solid var(--light_color);
            border-radius: var(--border_radius_xs);


            &:hover
            {
                color: var(--light_color_soft);
            }
        }


        .bg
        {
            position: absolute;
            right: 0;
            bottom: var(--block_padding_l);

            width: 355px;
            max-width: 100%;

            z-index: 1;
            pointer-events: none;


            img
            {
                display: block;

                max-width: 100%;
            }
        }
    }


    .demo_btn
    {
        width: 100%;
        height: 60px;
        margin-top: var(--inner_gap_s);
        padding-inline: var(--inner_gap_xl);

        transition: color .2s linear;

        color: var(--primary_color);
        border: 1px solid var(--primary_color);
        border-radius: var(--border_radius_xs);


        &:hover
        {
            color: var(--primary_color_h);
        }
    }
}



@media print,
(max-width: 1279px)
{
    .webinars
    {
        &.width50
        {
            width: calc(50% - var(--inner_gap_l) / 2);
        }


        .grid_row
        {
            --gap_x: var(--inner_gap_l);
            --gap_y: var(--inner_gap_l);


            &.small
            {
                --gap_x: var(--inner_gap_l);
            }
        }


        .item
        {
            .small &
            {
                .image
                {
                    width: 180px;


                    .icon
                    {
                        width: 32px;
                        height: 40px;
                    }
                }


                .info
                {
                    width: calc(100% - 180px);
                    padding: var(--inner_gap_l);
                }


                .name
                {
                    font-size: calc(var(--font_size_l) + 4px);
                }
            }


            .info
            {
                padding: var(--inner_gap_l);
            }


            .name
            {
                width: 260px;
            }


            .desc
            {
                margin-bottom: var(--inner_gap_xs);
            }


            .btn
            {
                height: 40px;
                padding-inline: var(--inner_gap);
            }
        }


        .subscribe
        {
            padding-block: 20% var(--inner_gap_l);
            padding-inline: var(--inner_gap_l);


            .thumb
            {
                padding-block: var(--inner_gap_l);
            }


            .desc
            {
                margin-bottom: var(--inner_gap_xs);
            }


            .btn
            {
                height: 40px;
                padding-inline: var(--inner_gap);
            }
        }


        .demo_btn
        {
            height: 48px;
            padding-inline: var(--inner_gap_l);
        }
    }
}



@media print,
(max-width: 1023px)
{
    .webinars
    {
        &.width50
        {
            width: 100%;
        }


        .grid_row
        {
            --items_per_line: 2;


            &.small
            {
                --items_per_line: 1;
                --gap_y: var(--inner_gap_xs);
            }
        }


        .item
        {
            .small &
            {
                .image
                {
                    width: 172px;
                }


                .info
                {
                    width: calc(100% - 172px);
                }
            }
        }


        .subscribe
        {
            min-height: 240px;
            padding: var(--inner_gap_l);

            --width_multiplier: 2;


            .thumb
            {
                right: 0;
                left: auto;

                width: 360px;
                padding-left: 0;
            }


            .name
            {
                width: 220px;
                max-width: 100%;
            }


            .desc
            {
                width: 304px;
                max-width: 100%;
            }


            .btn
            {
                margin-top: auto;
            }


            .bg
            {
                bottom: 0;

                width: auto;
                height: 100%;


                img
                {
                    height: 100%;
                }
            }
        }
    }
}



@media (max-width: 767px)
{
    .webinars
    {
        .grid_row
        {
            margin-inline: calc((var(--cont_padding) - 5px) * -1);

            --items_per_line: 1;
            --gap_x: var(--zero_px);
            --gap_y: var(--inner_gap_xs);
        }


        .item
        {
            .info
            {
                padding-inline: calc(var(--cont_padding) - 5px);
            }


            .small &
            {
                .image
                {
                    width: 120px;


                    .icon
                    {
                        width: 28px;
                        height: 36px;
                    }
                }


                .info
                {
                    width: calc(100% - 120px);
                    padding: var(--inner_gap);


                    .name
                    {
                        font-size: var(--font_size_l);
                        font-weight: 500;
                    }


                    .desc
                    {
                        display: none;
                    }
                }
            }
        }


        .subscribe
        {
            min-height: 0;
            padding-inline: calc(var(--cont_padding) - 5px);
            padding-top: 66%;

            --width_multiplier: 1;


            .thumb
            {
                width: 100%;
                padding-left: var(--inner_gap_xxxs);
            }


            .name,
            .desc
            {
                width: 100%;
            }


            .bg
            {
                top: 0;
                bottom: auto;

                width: 100%;
                height: auto;


                img
                {
                    height: auto;
                }
            }
        }


        .demo_btn
        {
            height: 44px;
            padding-inline: var(--inner_gap);
        }
    }
}
